#Liquid-Background-4 {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
  filter: blur(25px);
}

body {
  margin: 0;
  min-height: 200vh;
  color: whitesmoke;
  font-family: "Tektur", sans-serif;
  font-size: larger;
  text-align: left;
  transition: background 1.5s ease;
  background: radial-gradient(circle at center, #003344, #000000);
  position: relative;
}

.text-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* left align */
  gap: 100vh;
  padding: 100px 5% 100px 5%;
}

.hidden {
  display: none;
}

.fade-in {
  display: block;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.clickable {
  cursor: pointer;
  transition: color 0.3s ease, opacity 0.6s ease;
}

.clickable:hover {
  color: #ffd966;
  opacity: 0.8;
}

.final-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.final-button:hover {
  color: #ffd966;
}

.final-button.fade-in {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

.bg-stage1 {
  background: radial-gradient(circle at center, #330000, #000000);
}

.bg-stage2 {
  background: radial-gradient(circle at center, #661100, #000000);
}

.bg-stage3 {
  background: radial-gradient(circle at center, #993322, #000000);
}

.bg-stage4 {
  background: radial-gradient(circle at center, #cc5544, #000000);
}

.bg-stage5 {
  background: radial-gradient(circle at center, #ff7766, #000000);
}

.bg-stage6 {
  background: radial-gradient(circle at center, #ff9988, #000000);
}

.bg-stage7 {
  background: radial-gradient(circle at center, #ffbbaa, #000000);
}
